* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .cv-container {
    background-color: black;
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  h1 {
    text-align: center;
    font-size: 35px;
    color: #007acc;
  }
  .sidebar {
    width: 30%;
    background-color: black;
    padding: 30px 20px;
  }
  
  .sidebar h3 {
    margin: 0;
    font-size: 2em;
    color: #007acc;
  }
  
  .sidebar p {
    margin-bottom: 20px;
  }
  
  .contact-info{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .skills {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    color: #007acc;
  }
  
  .contact-info li,
  .skills li {
    margin-bottom: 10px;
    color:  rgb(255, 255, 255);
  }
  
  .main-content {
    width: 70%;
    padding: 30px 40px;
    color: rgb(255, 255, 255);
  }
  .Name{
    text-align: left;
    font-size: 50px;
    
  }
  .fname{
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .main-content h2 {
    color: #007acc;
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
    margin-top: 0;
  }
  
  .job,
  .edu {
    margin-bottom: 20px;
  }
  
  .job h3,
  .edu h3 {
    margin: 0;
    color:  grey;
  }
  
  .job span,
  .edu span {
    font-size: 0.9em;
    color: #777;
  }
  
  ul {
    padding-left: 20px;
  }
  